.main-container{
    width: 600px;
    height: 1150px;
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media only screen and (min-width: 320px) and (max-width:560px) {
    .main-container {
        width: 560px;
        height: 1380px;
        background-color: white;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}